NEXT_PUBLIC_SUPABASE_URL=https://azcqeejwihifpnwdxkbe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6Y3FlZWp3aWhpZnBud2R4a2JlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NjA5MjAsImV4cCI6MjEwMTMzNjkyMH0.eOdVPwE_ZaeCgceVWfzfCp1rUL0JfSlIVaX6zdtn1Ys
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6Y3FlZWp3aWhpZnBud2R4a2JlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTc2MDkyMCwiZXhwIjoyMTAxMzM2OTIwfQ.YWLvlltaZe5o-BgRwtMLc5djZ35k-HtI8RFXb4ppGeg

SITE_ADMIN_PASSWORD=Magentia
SITE_ADMIN_SECRET=39aceb3ada77772a943c97eb9cbf455b79b79dda2b0a483264a6ee10cc0bce97
